[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "sh -c 'uvicorn server:app --host 0.0.0.0 --port ${PORT}'"
